
.header{

    // .img{
    //     background-image: url(./assets/MaskGroup.png);
    //      width: 734px;
    
    //     height: 700px;
    //     // background: rgba(0, 52, 18, 0.48);
    //     margin-left: 50%;
    //     // margin-bottom: 0%;
        
    //     }
  

  
    .head{
        // text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
        color: #038C33;
        width: 439px;
        height: 112px;
        padding-right: 40%;
        margin-top: 2px;

        
        
    }
    .parag{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color:#003412;
        width: 396px;
        height: 72px;
    }
    .list{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        font-style: normal;
        color: #6C757D;
        
    }
    .btn{
       background-color: #038C33;
        border-radius: 5px;
        font-style: normal;
font-weight: 500;
font-size: 14px;
color: white;
padding: 14px 40px;

    }

     

  
}