.circlebox{
    width: 1440px;
height: 901px;
    .popular{
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: #038C33;
        width: 277px;
        height: 56px;
        margin-left: 40%;
    }
    .parag{
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #1F6036;
    }
    .creche{
        // width: 350px;
        // height: 450px;
        background-color: #ffffff;
        border-radius: 5px 0px 5px 5px;
        
            // background-image: url(./assets/Ellipse16.png);
            width: 215px;
            height: 215px;
            // margin-left: 15%;
           
        .image{
            background-image: url(./assets/Ellipse16.png);
            width: 215px;
            height: 215px;
            margin-right: 10%;
        }
    
    .text{
        font-weight: 400;
        font-size: 14px;
        color: #6C757D;
        line-height: 17px;
      
    
    }
    .date{
      
        width: 101px;
    height: 17px;
    color: #6C757D;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 17px
    }
    .creches{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #038C33;
    }
    .for{
        font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #6C757D;
    // margin-top: 30%;
    }
    .enroll{
        width: 320px;
    height: 51px;
    background: #038C33;
    border-radius: 0px 0px 5px 5px;
    
    
    
    }
    
    }
    .transition{
        width: 350px;
        height: 450px;
        background-color: #ffffff;
        // border-radius: 5px 0px 5px 5px;
        margin-left: 30%;
        // margin-bottom: 20%;
        // position: absolute;
        
        
        
            // background-image: url(./assets/Ellipse16.png);
            // width: 215px;
            // height: 215px;
            
           
        .image1{
            background-image: url(./assets/Ellipse17.png);
            width: 215px;
            height: 215px;
            
        }
    
    .text1{
        font-weight: 400;
        font-size: 14px;
        color: #6C757D;
        line-height: 17px;
    
    
    }
    .date1{
      
        width: 101px;
    height: 17px;
    color: #6C757D;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 17px
    
    }
    .transition1{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #038C33;
    }
    .for1{
        font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #6C757D;
    // margin-top: 30%;
    }
    .enroll1{
        text-align: center;
    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #038C33;
    
    }
    hr{
        color: #038C33;
        width: 350px;
        border: 1px solid ;
    }
    
    }
    .nusery{
        width: 350px;
        height: 450px;
        background-color: #ffffff;
        // border-radius: 5px 0px 5px 5px;
        // margin-left: 70%;
        
        //  margin-bottom: 40%;
        // position: absolute;
        
        
        
            // background-image: url(./assets/Ellipse16.png);
            // width: 215px;
            // height: 215px;
            
           
        .image2{
            background-image: url(./assets/Ellipse18.png);
            width: 215px;
            height: 215px;
            
        }
    
    .text2{
        font-weight: 400;
        font-size: 14px;
        color: #6C757D;
        line-height: 17px;
    
    
    }
    .date2{
      
        width: 101px;
    height: 17px;
    color: #6C757D;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 17px
    
    }
    .nusery2{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #038C33;
    }
    .for2{
        font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #6C757D;
    // margin-top: 30%;
    }
    .enroll2{
        text-align: center;
    
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #038C33;
    
    }
    hr{
        color: #038C33;
        width: 350px;
        border: 1px solid ;
    }
    
    }
}